#works:after{
    display: inline-block;
    content: "";
    border-top: .1rem solid lightgray;
    width: 200px;
    margin: 0 0 0 2rem;
    transform: translateY(-.5rem);
}

@media screen and (min-width: 321px) {
    #project-description {
      margin-left: -30px;
    }
   
    
  }
  /* #project-description:hover{
    transform: rotate(5deg);
    transition: transform .5s ease;
  } */