#works:after{
    display: inline-block;
    content: "";
    border-top: .1rem solid green;
    width: 200px;
    margin: 0 0 0 2rem;
    transform: translateY(-.5rem);
} 

@media screen and (min-width: 321px) {
    #project-description {
      margin-left: -30px;
    }
  } 
